<html>
<body>
<h1>EncryptDecrypt</h1>

<form method="get" action="/encryptdecrypt" accept-charset="UTF-8">
  <input name="salt" value="" placeholder="Enter salt"/>
  <input name="secret_key" value="" placeholder="Enter secret key"/>
  <input name="id" value="" placeholder="Enter id or encrypted id"/>
  <select name="method">
    <option value="encrypt">Encrypt</option>
    <option value="decrypt">Decrypt</option>
  </select>

  <input type="submit" value="Submit">
</form>
</body>
</html>
